In [205]:
import pandas as pd
import json
import re

In [206]:
df = pd.read_json("sample_file/example_1.json", typ='series')

In [207]:
df

fruit    Apple
size     Large
color      Red
dtype: object

In [208]:
my_json={"Product":{"0":"Desktop Computer","1":"Tablet","2":"iPhone","3":"Laptop"},"Price":{"0":700,"1":250,"2":800,"3":1200}}
df = pd.DataFrame(my_json)
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [209]:
df = pd.read_json("sample_file/example_2.json",encoding='utf-8')

In [210]:
df

,quiz1,quiz2
sport,{'q1': {'question': 'Which one is correct team...,{'q1': {'question': 'Which one is correct team...
maths,"{'q1': {'question': '5 + 7 = ?', 'options': ['...","{'q1': {'question': '5 + 7 = ?', 'options': ['..."

In [211]:
df['quiz1'][1]

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [212]:
import json

with open("sample_file/example_2.json") as json_data:
     data = json.load(json_data)
        
df = pd.DataFrame({"data":data})
df

                                                    data
quiz1  {'sport': {'q1': {'question': 'Which one is co...
quiz2  {'sport': {'q1': {'question': 'Which one is co...

In [213]:
data="""{
    "quiz1": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    },
	"quiz2": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}"""
person_dict = json.loads(data)

In [214]:
person_dict

{'quiz1': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}},
 'quiz2': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [215]:
import xml.etree.ElementTree as ET

In [216]:
tree = ET.parse('sample_file/books.xml')
root = tree.getroot()

In [217]:
root

In [218]:
for elem in root:
    print(elem.tag,".....",elem.text)
    for subelem in elem:
        print(subelem.text,".....",subelem.tag)
        for i in subelem:
            print(i.text,",,,,,,,,,,,,,,,,,,,,,,,,,,,")

book .....

Gambardella, Matthew ..... author
XML Developer's Guide ..... title
Computer ..... genre
44.95 ..... price
2000-10-01 ..... publish_date
An in-depth look at creating applications
      with XML. ..... description
book .....

Ralls, Kim ..... author
Midnight Rain ..... title
Fantasy ..... genre
5.95 ..... price
2000-12-16 ..... publish_date
A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world. ..... description

              ..... data
world ,,,,,,,,,,,,,,,,,,,,,,,,,,,
book .....

Corets, Eva ..... author
Maeve Ascendant ..... title
Fantasy ..... genre
5.95 ..... price
2000-11-17 ..... publish_date
After the collapse of a nanotechnology
      society in England, the young survivors lay the
      foundation for a new society. ..... description
book .....

Corets, Eva ..... author
Oberon's Legacy ..... title
Fantasy ..... genre
5.95 ..... price
2001-03-10 ..... publish_date
In post-apocalypse England, the mysterious
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant. ..... description
book .....

Corets, Eva ..... author
The Sundered Grail ..... title
Fantasy ..... genre
5.95 ..... price
2001-09-10 ..... publish_date
The two daughters of Maeve, half-sisters,
      battle one another for control of England. Sequel to
      Oberon's Legacy. ..... description
book .....

Randall, Cynthia ..... author
Lover Birds ..... title
Romance ..... genre
4.95 ..... price
2000-09-02 ..... publish_date
When Carla meets Paul at an ornithology
      conference, tempers fly as feathers get ruffled. ..... description
book .....

Thurman, Paula ..... author
Splish Splash ..... title
Romance ..... genre
4.95 ..... price
2000-11-02 ..... publish_date
A deep sea diver finds true love twenty
      thousand leagues beneath the sea. ..... description
book .....

Knorr, Stefan ..... author
Creepy Crawlies ..... title
Horror ..... genre
4.95 ..... price
2000-12-06 ..... publish_date
An anthology of horror stories about roaches,
      centipedes, scorpions  and other insects. ..... description
book .....

Kress, Peter ..... author
Paradox Lost ..... title
Science Fiction ..... genre
6.95 ..... price
2000-11-02 ..... publish_date
After an inadvertant trip through a Heisenberg
      Uncertainty Device, James Salway discovers the problems
      of being quantum. ..... description
book .....

O'Brien, Tim ..... author
Microsoft .NET: The Programming Bible ..... title
Computer ..... genre
36.95 ..... price
2000-12-09 ..... publish_date
Microsoft's .NET initiative is explored in
      detail in this deep programmer's reference. ..... description
book .....

O'Brien, Tim ..... author
MSXML3: A Comprehensive Guide ..... title
Computer ..... genre
36.95 ..... price
2000-12-01 ..... publish_date
The Microsoft MSXML3 parser is covered in
      detail, with attention to XML DOM interfaces, XSLT processing,
      SAX and more. ..... description
book .....

Galos, Mike ..... author
Visual Studio 7: A Comprehensive Guide ..... title
Computer ..... genre
49.95 ..... price
2001-04-16 ..... publish_date
Microsoft Visual Studio 7 is explored in depth,
      looking at how Visual Basic, Visual C++, C#, and ASP+ are
      integrated into a comprehensive development
      environment. ..... description

In [219]:
child = root.getchildren()

for i in child:
    print(i,"---------------------------------ROOT")
    for j in i.getchildren():
        print(j,"----------------------------CHILD")
        for k in j.getchildren():
            print(k,"---------------------SUB-CHILD")

<Element 'book' at 0x7fa3df0a9210> ---------------------------------ROOT
<Element 'author' at 0x7fa3df0a9f90> ----------------------------CHILD
<Element 'title' at 0x7fa3df950050> ----------------------------CHILD
<Element 'genre' at 0x7fa3df950110> ----------------------------CHILD
<Element 'price' at 0x7fa3df950210> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df950310> ----------------------------CHILD
<Element 'description' at 0x7fa3df950450> ----------------------------CHILD
<Element 'book' at 0x7fa3df950550> ---------------------------------ROOT
<Element 'author' at 0x7fa3df9505d0> ----------------------------CHILD
<Element 'title' at 0x7fa3df950690> ----------------------------CHILD
<Element 'genre' at 0x7fa3df950750> ----------------------------CHILD
<Element 'price' at 0x7fa3df950810> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df9508d0> ----------------------------CHILD
<Element 'description' at 0x7fa3df9509d0> ----------------------------CHILD
<Element 'data' at 0x7fa3df950a90> ----------------------------CHILD
<Element 'hello' at 0x7fa3df950b50> ---------------------SUB-CHILD
<Element 'book' at 0x7fa3df950cd0> ---------------------------------ROOT
<Element 'author' at 0x7fa3df950d50> ----------------------------CHILD
<Element 'title' at 0x7fa3df950e10> ----------------------------CHILD
<Element 'genre' at 0x7fa3df950ed0> ----------------------------CHILD
<Element 'price' at 0x7fa3df950f90> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df979090> ----------------------------CHILD
<Element 'description' at 0x7fa3df979190> ----------------------------CHILD
<Element 'book' at 0x7fa3df979290> ---------------------------------ROOT
<Element 'author' at 0x7fa3df979310> ----------------------------CHILD
<Element 'title' at 0x7fa3df9793d0> ----------------------------CHILD
<Element 'genre' at 0x7fa3df979490> ----------------------------CHILD
<Element 'price' at 0x7fa3df979550> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df979610> ----------------------------CHILD
<Element 'description' at 0x7fa3df979710> ----------------------------CHILD
<Element 'book' at 0x7fa3df979810> ---------------------------------ROOT
<Element 'author' at 0x7fa3df9798d0> ----------------------------CHILD
<Element 'title' at 0x7fa3df979990> ----------------------------CHILD
<Element 'genre' at 0x7fa3df979a10> ----------------------------CHILD
<Element 'price' at 0x7fa3df979ad0> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df0a3550> ----------------------------CHILD
<Element 'description' at 0x7fa3df0a3610> ----------------------------CHILD
<Element 'book' at 0x7fa3df0a3c10> ---------------------------------ROOT
<Element 'author' at 0x7fa3df0a3ad0> ----------------------------CHILD
<Element 'title' at 0x7fa3df0a3390> ----------------------------CHILD
<Element 'genre' at 0x7fa3df0a3a10> ----------------------------CHILD
<Element 'price' at 0x7fa3df0a3210> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df0a33d0> ----------------------------CHILD
<Element 'description' at 0x7fa3df0a3310> ----------------------------CHILD
<Element 'book' at 0x7fa3df0a3050> ---------------------------------ROOT
<Element 'author' at 0x7fa3df0a3450> ----------------------------CHILD
<Element 'title' at 0x7fa3df0a3c90> ----------------------------CHILD
<Element 'genre' at 0x7fa3df0a2610> ----------------------------CHILD
<Element 'price' at 0x7fa3df0a2c10> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df0a2cd0> ----------------------------CHILD
<Element 'description' at 0x7fa3df099550> ----------------------------CHILD
<Element 'book' at 0x7fa3df099a50> ---------------------------------ROOT
<Element 'author' at 0x7fa3df099e50> ----------------------------CHILD
<Element 'title' at 0x7fa3df099510> ----------------------------CHILD
<Element 'genre' at 0x7fa3df099690> ----------------------------CHILD
<Element 'price' at 0x7fa3df099450> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df099d50> ----------------------------CHILD
<Element 'description' at 0x7fa3df099fd0> ----------------------------CHILD
<Element 'book' at 0x7fa3df099b50> ---------------------------------ROOT
<Element 'author' at 0x7fa3df099990> ----------------------------CHILD
<Element 'title' at 0x7fa3df099790> ----------------------------CHILD
<Element 'genre' at 0x7fa3df099ad0> ----------------------------CHILD
<Element 'price' at 0x7fa3df099f90> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df08dc90> ----------------------------CHILD
<Element 'description' at 0x7fa3df08ddd0> ----------------------------CHILD
<Element 'book' at 0x7fa3df08dcd0> ---------------------------------ROOT
<Element 'author' at 0x7fa3df08d190> ----------------------------CHILD
<Element 'title' at 0x7fa3df08dbd0> ----------------------------CHILD
<Element 'genre' at 0x7fa3df08d2d0> ----------------------------CHILD
<Element 'price' at 0x7fa3df08dc50> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df08dc10> ----------------------------CHILD
<Element 'description' at 0x7fa3df08d610> ----------------------------CHILD
<Element 'book' at 0x7fa3df08d490> ---------------------------------ROOT
<Element 'author' at 0x7fa3df08d3d0> ----------------------------CHILD
<Element 'title' at 0x7fa3df08d210> ----------------------------CHILD
<Element 'genre' at 0x7fa3df087b10> ----------------------------CHILD
<Element 'price' at 0x7fa3df087b90> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df087d50> ----------------------------CHILD
<Element 'description' at 0x7fa3df087b50> ----------------------------CHILD
<Element 'book' at 0x7fa3df0878d0> ---------------------------------ROOT
<Element 'author' at 0x7fa3df087850> ----------------------------CHILD
<Element 'title' at 0x7fa3df087e90> ----------------------------CHILD
<Element 'genre' at 0x7fa3df0ce750> ----------------------------CHILD
<Element 'price' at 0x7fa3df5858d0> ----------------------------CHILD
<Element 'publish_date' at 0x7fa3df585dd0> ----------------------------CHILD
<Element 'description' at 0x7fa3df5c36d0> ----------------------------CHILD

/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  """Entry point for launching an IPython kernel.
/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  """
/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  import sys

In [220]:
df = pd.DataFrame()
df.to_csv("data.csv")
df=pd.read_csv("data.csv")
df

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

In [221]:
element_list=[]
for ele in tree.iter():
    if ele.tag not in element_list:
        #print(ele)
        element_list.append(ele.tag)
        
element_list

['catalog',
 'book',
 'author',
 'title',
 'genre',
 'price',
 'publish_date',
 'description',
 'data',
 'hello']

In [222]:
for i in element_list:
    df[i]=""

In [223]:
df

Empty DataFrame
Columns: [Unnamed: 0, catalog, book, author, title, genre, price, publish_date, description, data, hello]
Index: []

In [226]:
print(tree.getroot())
recursion_root(tree.getroot())

<Element 'catalog' at 0x7fa3df0a97d0>
=======================book=========================

 1
=======================author=========================
GambardellaMatthew 18
=======================title=========================
XMLDeveloper'sGuide 19
=======================genre=========================
Computer 8
=======================price=========================
44.95 5
=======================publish_date=========================
2000-10-01 10
=======================description=========================
Anin-depthlookatcreatingapplications
withXML. 45
=======================book=========================

 1
=======================author=========================
RallsKim 8
=======================title=========================
MidnightRain 12
=======================genre=========================
Fantasy 7
=======================price=========================
5.95 4
=======================publish_date=========================
2000-12-16 10
=======================description=========================
Aformerarchitectbattlescorporatezombies
anevilsorceressandherownchildhoodtobecomequeen
oftheworld. 98
=======================data=========================

 1
=======================hello=========================
world 5
=======================book=========================

 1
=======================author=========================
CoretsEva 9
=======================title=========================
MaeveAscendant 14
=======================genre=========================
Fantasy 7
=======================price=========================
5.95 4
=======================publish_date=========================
2000-11-17 10
=======================description=========================
Afterthecollapseofananotechnology
societyinEnglandtheyoungsurvivorslaythe
foundationforanewsociety. 99
=======================book=========================

 1
=======================author=========================
CoretsEva 9
=======================title=========================
Oberon'sLegacy 14
=======================genre=========================
Fantasy 7
=======================price=========================
5.95 4
=======================publish_date=========================
2001-03-10 10
=======================description=========================
Inpost-apocalypseEnglandthemysterious
agentknownonlyasOberonhelpstocreateanewlife
fortheinhabitantsofLondon.SequeltoMaeve
Ascendant. 132
=======================book=========================

 1
=======================author=========================
CoretsEva 9
=======================title=========================
TheSunderedGrail 16
=======================genre=========================
Fantasy 7
=======================price=========================
5.95 4
=======================publish_date=========================
2001-09-10 10
=======================description=========================
ThetwodaughtersofMaevehalf-sisters
battleoneanotherforcontrolofEngland.Sequelto
Oberon'sLegacy. 95
=======================book=========================

 1
=======================author=========================
RandallCynthia 14
=======================title=========================
LoverBirds 10
=======================genre=========================
Romance 7
=======================price=========================
4.95 4
=======================publish_date=========================
2000-09-02 10
=======================description=========================
WhenCarlameetsPaulatanornithology
conferencetempersflyasfeathersgetruffled. 75
=======================book=========================

 1
=======================author=========================
ThurmanPaula 12
=======================title=========================
SplishSplash 12
=======================genre=========================
Romance 7
=======================price=========================
4.95 4
=======================publish_date=========================
2000-11-02 10
=======================description=========================
Adeepseadiverfindstruelovetwenty
thousandleaguesbeneaththesea. 62
=======================book=========================

 1
=======================author=========================
KnorrStefan 11
=======================title=========================
CreepyCrawlies 14
=======================genre=========================
Horror 6
=======================price=========================
4.95 4
=======================publish_date=========================
2000-12-06 10
=======================description=========================
Ananthologyofhorrorstoriesaboutroaches
centipedesscorpionsandotherinsects. 74
=======================book=========================

 1
=======================author=========================
KressPeter 10
=======================title=========================
ParadoxLost 11
=======================genre=========================
ScienceFiction 14
=======================price=========================
6.95 4
=======================publish_date=========================
2000-11-02 10
=======================description=========================
AfteraninadvertanttripthroughaHeisenberg
UncertaintyDeviceJamesSalwaydiscoverstheproblems
ofbeingquantum. 105
=======================book=========================

 1
=======================author=========================
O'BrienTim 10
=======================title=========================
Microsoft.NET:TheProgrammingBible 33
=======================genre=========================
Computer 8
=======================price=========================
36.95 5
=======================publish_date=========================
2000-12-09 10
=======================description=========================
Microsoft's.NETinitiativeisexploredin
detailinthisdeepprogrammer'sreference. 76
=======================book=========================

 1
=======================author=========================
O'BrienTim 10
=======================title=========================
MSXML3:AComprehensiveGuide 26
=======================genre=========================
Computer 8
=======================price=========================
36.95 5
=======================publish_date=========================
2000-12-01 10
=======================description=========================
TheMicrosoftMSXML3parseriscoveredin
detailwithattentiontoXMLDOMinterfacesXSLTprocessing
SAXandmore. 99
=======================book=========================

 1
=======================author=========================
GalosMike 9
=======================title=========================
VisualStudio7:AComprehensiveGuide 33
=======================genre=========================
Computer 8
=======================price=========================
49.95 5
=======================publish_date=========================
2001-04-16 10
=======================description=========================
MicrosoftVisualStudio7isexploredindepth
lookingathowVisualBasicVisualC++C#andASP+are
integratedintoacomprehensivedevelopment
environment. 137

In [225]:
def recursion_root(root):
    for i in root:
        print("======================="+i.tag+"=========================")
        dummy=i.text
        dummy=dummy.replace(" ","")
        dummy = dummy.replace(",","")
        text=re.sub(' +', ' ', i.text)
        #df["book"]=text
        print(text,len(dummy))
        recursion_root(i)

In [171]:
df = pd.read_excel("internet1.xlsx")

In [172]:
df

,catalog,book,id,author,title,genre,price,publish_date,description
0,NaN,NaN,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,NaN,NaN,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,NaN,NaN,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,NaN,NaN,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,NaN,NaN,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,NaN,NaN,bk106,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,NaN,NaN,bk107,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,NaN,NaN,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,NaN,NaN,bk109,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,NaN,NaN,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,NaN,NaN,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,NaN,NaN,bk112,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...