In [4]:
import pandas as pd
import json

In [5]:
#lsdf = pd.read_json("XML_JSON/example_1.json", typ='series')

In [6]:
df = pd.read_json("sample_file/example_1.json", typ='series')

In [7]:
df

fruit    Apple
size     Large
color      Red
dtype: object

In [8]:
my_json={"Product":{"0":"Desktop Computer","1":"Tablet","2":"iPhone","3":"Laptop"},"Price":{"0":700,"1":250,"2":800,"3":1200}}
df = pd.DataFrame(my_json)
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [10]:
df = pd.read_json("sample_file/example_2.json",encoding='utf-8')

In [32]:
df

,quiz1,quiz2
sport,{'q1': {'question': 'Which one is correct team...,{'q1': {'question': 'Which one is correct team...
maths,"{'q1': {'question': '5 + 7 = ?', 'options': ['...","{'q1': {'question': '5 + 7 = ?', 'options': ['..."

In [15]:
df['quiz1'][1]

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [17]:
import json

with open("sample_file/example_2.json") as json_data:
     data = json.load(json_data, strict=False)
        
df = pd.DataFrame({"data":data})
df

                                                    data
quiz1  {'sport': {'q1': {'question': 'Which one is co...
quiz2  {'sport': {'q1': {'question': 'Which one is co...

In [18]:
data="""{
    "quiz1": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    },
	"quiz2": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}"""
person_dict = json.loads(data)

In [19]:
person_dict

{'quiz1': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}},
 'quiz2': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}