In [4]:
import pandas as pd
import json

In [6]:
df = pd.read_json("sample_file/example_1.json", typ='series')

In [7]:
df

fruit    Apple
size     Large
color      Red
dtype: object

In [8]:
my_json={"Product":{"0":"Desktop Computer","1":"Tablet","2":"iPhone","3":"Laptop"},"Price":{"0":700,"1":250,"2":800,"3":1200}}
df = pd.DataFrame(my_json)
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [10]:
df = pd.read_json("sample_file/example_2.json",encoding='utf-8')

In [32]:
df

,quiz1,quiz2
sport,{'q1': {'question': 'Which one is correct team...,{'q1': {'question': 'Which one is correct team...
maths,"{'q1': {'question': '5 + 7 = ?', 'options': ['...","{'q1': {'question': '5 + 7 = ?', 'options': ['..."

In [15]:
df['quiz1'][1]

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [20]:
import json

with open("sample_file/example_2.json") as json_data:
     data = json.load(json_data)
        
df = pd.DataFrame({"data":data})
df

                                                    data
quiz1  {'sport': {'q1': {'question': 'Which one is co...
quiz2  {'sport': {'q1': {'question': 'Which one is co...

In [18]:
data="""{
    "quiz1": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    },
	"quiz2": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}"""
person_dict = json.loads(data)

In [19]:
person_dict

{'quiz1': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}},
 'quiz2': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [28]:
import xml.etree.ElementTree as ET

In [29]:
tree = ET.parse('sample_file/books.xml')
root = tree.getroot()

In [30]:
root

In [33]:
for elem in root:
    print(elem.tag,".....",elem.text)
    for subelem in elem:
        print(subelem.text,".....",subelem.tag)
        for i in subelem:
            print(i.text,",,,,,,,,,,,,,,,,,,,,,,,,,,,")

book .....

Gambardella, Matthew ..... author
XML Developer's Guide ..... title
Computer ..... genre
44.95 ..... price
2000-10-01 ..... publish_date
An in-depth look at creating applications
      with XML. ..... description
book .....

Ralls, Kim ..... author
Midnight Rain ..... title
Fantasy ..... genre
5.95 ..... price
2000-12-16 ..... publish_date
A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world. ..... description

              ..... data
world ,,,,,,,,,,,,,,,,,,,,,,,,,,,
book .....

Corets, Eva ..... author
Maeve Ascendant ..... title
Fantasy ..... genre
5.95 ..... price
2000-11-17 ..... publish_date
After the collapse of a nanotechnology
      society in England, the young survivors lay the
      foundation for a new society. ..... description
book .....

Corets, Eva ..... author
Oberon's Legacy ..... title
Fantasy ..... genre
5.95 ..... price
2001-03-10 ..... publish_date
In post-apocalypse England, the mysterious
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant. ..... description
book .....

Corets, Eva ..... author
The Sundered Grail ..... title
Fantasy ..... genre
5.95 ..... price
2001-09-10 ..... publish_date
The two daughters of Maeve, half-sisters,
      battle one another for control of England. Sequel to
      Oberon's Legacy. ..... description
book .....

Randall, Cynthia ..... author
Lover Birds ..... title
Romance ..... genre
4.95 ..... price
2000-09-02 ..... publish_date
When Carla meets Paul at an ornithology
      conference, tempers fly as feathers get ruffled. ..... description
book .....

Thurman, Paula ..... author
Splish Splash ..... title
Romance ..... genre
4.95 ..... price
2000-11-02 ..... publish_date
A deep sea diver finds true love twenty
      thousand leagues beneath the sea. ..... description
book .....

Knorr, Stefan ..... author
Creepy Crawlies ..... title
Horror ..... genre
4.95 ..... price
2000-12-06 ..... publish_date
An anthology of horror stories about roaches,
      centipedes, scorpions  and other insects. ..... description
book .....

Kress, Peter ..... author
Paradox Lost ..... title
Science Fiction ..... genre
6.95 ..... price
2000-11-02 ..... publish_date
After an inadvertant trip through a Heisenberg
      Uncertainty Device, James Salway discovers the problems
      of being quantum. ..... description
book .....

O'Brien, Tim ..... author
Microsoft .NET: The Programming Bible ..... title
Computer ..... genre
36.95 ..... price
2000-12-09 ..... publish_date
Microsoft's .NET initiative is explored in
      detail in this deep programmer's reference. ..... description
book .....

O'Brien, Tim ..... author
MSXML3: A Comprehensive Guide ..... title
Computer ..... genre
36.95 ..... price
2000-12-01 ..... publish_date
The Microsoft MSXML3 parser is covered in
      detail, with attention to XML DOM interfaces, XSLT processing,
      SAX and more. ..... description
book .....

Galos, Mike ..... author
Visual Studio 7: A Comprehensive Guide ..... title
Computer ..... genre
49.95 ..... price
2001-04-16 ..... publish_date
Microsoft Visual Studio 7 is explored in depth,
      looking at how Visual Basic, Visual C++, C#, and ASP+ are
      integrated into a comprehensive development
      environment. ..... description

In [40]:
child = root.getchildren()
for i in child:
    print(i,"---------------------------------ROOT")
    for j in i.getchildren():
        print(j,"---------------------------------CHILD")
        for k in j.getchildren():
            print(k,"---------------------------------SUB-CHILD")

<Element 'book' at 0x7fa3e39329b0> ROOT
<Element 'author' at 0x7fa3e3932350> CHILD
<Element 'title' at 0x7fa3e3932d10> CHILD
<Element 'genre' at 0x7fa3e3932cb0> CHILD
<Element 'price' at 0x7fa3e3932bf0> CHILD
<Element 'publish_date' at 0x7fa3e3932a70> CHILD
<Element 'description' at 0x7fa3e3932d70> CHILD
<Element 'book' at 0x7fa3e3932dd0> ROOT
<Element 'author' at 0x7fa3e3932e30> CHILD
<Element 'title' at 0x7fa3e3932e90> CHILD
<Element 'genre' at 0x7fa3e3932ef0> CHILD
<Element 'price' at 0x7fa3e3932f50> CHILD
<Element 'publish_date' at 0x7fa3e3932fb0> CHILD
<Element 'description' at 0x7fa3e3941050> CHILD
<Element 'data' at 0x7fa3e3941110> CHILD
<Element 'hello' at 0x7fa3e39411d0> SUB-CHILD
<Element 'book' at 0x7fa3e3941230> ROOT
<Element 'author' at 0x7fa3e3941290> CHILD
<Element 'title' at 0x7fa3e39412f0> CHILD
<Element 'genre' at 0x7fa3e3941350> CHILD
<Element 'price' at 0x7fa3e39413b0> CHILD
<Element 'publish_date' at 0x7fa3e3941410> CHILD
<Element 'description' at 0x7fa3e3941470> CHILD
<Element 'book' at 0x7fa3e3941590> ROOT
<Element 'author' at 0x7fa3e39415f0> CHILD
<Element 'title' at 0x7fa3e3941650> CHILD
<Element 'genre' at 0x7fa3e39416b0> CHILD
<Element 'price' at 0x7fa3e3941710> CHILD
<Element 'publish_date' at 0x7fa3e3941770> CHILD
<Element 'description' at 0x7fa3e39417d0> CHILD
<Element 'book' at 0x7fa3e3941890> ROOT
<Element 'author' at 0x7fa3e39418f0> CHILD
<Element 'title' at 0x7fa3e3941950> CHILD
<Element 'genre' at 0x7fa3e39419b0> CHILD
<Element 'price' at 0x7fa3e3941a10> CHILD
<Element 'publish_date' at 0x7fa3e3941a70> CHILD
<Element 'description' at 0x7fa3e3941ad0> CHILD
<Element 'book' at 0x7fa3e3941b90> ROOT
<Element 'author' at 0x7fa3e3941bf0> CHILD
<Element 'title' at 0x7fa3e3941c50> CHILD
<Element 'genre' at 0x7fa3e3941cb0> CHILD
<Element 'price' at 0x7fa3e3941d10> CHILD
<Element 'publish_date' at 0x7fa3e3941d70> CHILD
<Element 'description' at 0x7fa3e3941dd0> CHILD
<Element 'book' at 0x7fa3e3941e90> ROOT
<Element 'author' at 0x7fa3e3941ef0> CHILD
<Element 'title' at 0x7fa3e3941f50> CHILD
<Element 'genre' at 0x7fa3e3941fb0> CHILD
<Element 'price' at 0x7fa3e3944050> CHILD
<Element 'publish_date' at 0x7fa3e39440b0> CHILD
<Element 'description' at 0x7fa3e3944110> CHILD
<Element 'book' at 0x7fa3e3944230> ROOT
<Element 'author' at 0x7fa3e3944290> CHILD
<Element 'title' at 0x7fa3e39442f0> CHILD
<Element 'genre' at 0x7fa3e3944350> CHILD
<Element 'price' at 0x7fa3e39443b0> CHILD
<Element 'publish_date' at 0x7fa3e3944410> CHILD
<Element 'description' at 0x7fa3e3944470> CHILD
<Element 'book' at 0x7fa3e3944590> ROOT
<Element 'author' at 0x7fa3e39445f0> CHILD
<Element 'title' at 0x7fa3e3944650> CHILD
<Element 'genre' at 0x7fa3e39446b0> CHILD
<Element 'price' at 0x7fa3e3944710> CHILD
<Element 'publish_date' at 0x7fa3e3944770> CHILD
<Element 'description' at 0x7fa3e39447d0> CHILD
<Element 'book' at 0x7fa3e3944890> ROOT
<Element 'author' at 0x7fa3e39448f0> CHILD
<Element 'title' at 0x7fa3e3944950> CHILD
<Element 'genre' at 0x7fa3e3944a10> CHILD
<Element 'price' at 0x7fa3e3944a70> CHILD
<Element 'publish_date' at 0x7fa3e3944ad0> CHILD
<Element 'description' at 0x7fa3e3944b30> CHILD
<Element 'book' at 0x7fa3e3944bf0> ROOT
<Element 'author' at 0x7fa3e3944c50> CHILD
<Element 'title' at 0x7fa3e3944cb0> CHILD
<Element 'genre' at 0x7fa3e3944d10> CHILD
<Element 'price' at 0x7fa3e3944d70> CHILD
<Element 'publish_date' at 0x7fa3e3944dd0> CHILD
<Element 'description' at 0x7fa3e3944e30> CHILD
<Element 'book' at 0x7fa3e3944ef0> ROOT
<Element 'author' at 0x7fa3e3944f50> CHILD
<Element 'title' at 0x7fa3e3944fb0> CHILD
<Element 'genre' at 0x7fa3e39340b0> CHILD
<Element 'price' at 0x7fa3e3934110> CHILD
<Element 'publish_date' at 0x7fa3e3934170> CHILD
<Element 'description' at 0x7fa3e39341d0> CHILD

/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  """Entry point for launching an IPython kernel.
/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  after removing the cwd from sys.path.
/home/yassar/Desktop/data-conversation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.

In [ ]:
def recursion_root(root):
    if len(root.getchildren()) != 0:
        child = root.getchildren()