In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl (10.0 MB)
Collecting numpy>=1.13.3
  Downloading numpy-1.18.4-cp37-cp37m-manylinux1_x86_64.whl (20.2 MB)
     |█████████████████████▋          | 13.6 MB 47 kB/s eta 0:02:185

In [6]:
#lsdf = pd.read_json("XML_JSON/example_1.json", typ='series')

In [7]:
df = pd.read_json("XML_JSON/example_1.json", typ='series')

In [8]:
df

fruit    Apple
size     Large
color      Red
dtype: object

In [9]:
my_json={"Product":{"0":"Desktop Computer","1":"Tablet","2":"iPhone","3":"Laptop"},"Price":{"0":700,"1":250,"2":800,"3":1200}}
df = pd.DataFrame(my_json)
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [31]:
df = pd.read_json("XML_JSON/example_2.json",encoding='utf-8')

In [32]:
df

,quiz1,quiz2
sport,{'q1': {'question': 'Which one is correct team...,{'q1': {'question': 'Which one is correct team...
maths,"{'q1': {'question': '5 + 7 = ?', 'options': ['...","{'q1': {'question': '5 + 7 = ?', 'options': ['..."

In [40]:
df['quiz1'][1]

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [13]:
import json

with open("XML_JSON/example_2.json") as json_data:
     data = json.load(json_data, strict=False)
        
df = pd.DataFrame({"data":data})
df

                                                    data
quiz1  {'sport': {'q1': {'question': 'Which one is co...
quiz2  {'sport': {'q1': {'question': 'Which one is co...

                                                   data
quiz  {'sport': {'q1': {'question': 'Which one is co...

In [20]:
data="""{
    "quiz1": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    },
	"quiz2": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}"""
person_dict = json.loads(data)

In [21]:
person_dict

{'quiz1': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}},
 'quiz2': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [132]:
pip install xlsx-from-json

Requirement already satisfied: xlsx-from-json in ./env/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: attrs>=18.1.0 in ./env/lib/python3.7/site-packages (from xlsx-from-json) (19.3.0)
Requirement already satisfied: openpyxl>=2.5.4 in ./env/lib/python3.7/site-packages (from xlsx-from-json) (3.0.3)
Requirement already satisfied: et-xmlfile in ./env/lib/python3.7/site-packages (from openpyxl>=2.5.4->xlsx-from-json) (1.0.1)
Requirement already satisfied: jdcal in ./env/lib/python3.7/site-packages (from openpyxl>=2.5.4->xlsx-from-json) (1.4.1)
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/home/yassar/Desktop/za/env/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [19]:
import json
from xlsx_from_json import xlsx_from_json

with open("XML_JSON/example_2.json", encoding="utf-8") as f:
    json_data = json.load(f)

wb = xlsx_from_json(json_data)

ImportError: cannot import name 'Worksheet' from 'openpyxl.conftest' (/home/yassar/Desktop/za/env/lib/python3.7/site-packages/openpyxl/conftest.py)

In [17]:
#pip install worksheet

Collecting worksheet
  Downloading worksheet-0.0.1a0.tar.gz (2.5 kB)
Collecting SQLAlchemy
  Downloading SQLAlchemy-1.3.17-cp37-cp37m-manylinux2010_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 312 kB/s eta 0:00:01
Collecting tabulate
  Downloading tabulate-0.8.7-py3-none-any.whl (24 kB)
Collecting Click
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 149 kB/s eta 0:00:01
Collecting xdg
  Downloading xdg-4.0.1-py3-none-any.whl (4.2 kB)
Building wheels for collected packages: worksheet
  Building wheel for worksheet (setup.py) ... done
  Created wheel for worksheet: filename=worksheet-0.0.1a0-py3-none-any.whl size=4416 sha256=4c071351ac96872b05db06979c13ec98e518b855d32fe889a47127602622f23a
  Stored in directory: /home/yassar/.cache/pip/wheels/dc/23/7f/317f04daa911c202083f2e08084eaefa8cc7fc8043e6eaffed
Successfully built worksheet
Installing collected packages: SQLAlchemy, tabulate, Click, xdg, worksheet
Successfully installed Click-7.1.2 SQLAlchemy-1.3.17 tabulate-0.8.7 worksheet-0.0.1a0 xdg-4.0.1
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/home/yassar/Desktop/za/env/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [43]:
pip install openpyxl

Requirement already satisfied: openpyxl in ./env/lib/python3.7/site-packages (2.4.11)
Requirement already satisfied: jdcal in ./env/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in ./env/lib/python3.7/site-packages (from openpyxl) (1.0.1)
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/home/yassar/Desktop/za/env/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [46]:
#pip install xml2xlsx
from openpyxl import worksheet

In [49]:
import xml.etree.ElementTree as ET
tree = ET.parse('XML_JSON/books.xml')
root = tree.getroot()

In [57]:
path="XML_JSON/books.xml"

In [58]:
from lxml import objectify

In [121]:
xml = objectify.parse(open(path))
root = xml.getroot()
print(xml.getroot().getchildren()[0].attrib)

root.getchildren()[0].getchildren()

{'id': 'bk101'}

['Gambardella, Matthew',
 "XML Developer's Guide",
 'Computer',
 44.95,
 '2000-10-01',
 'An in-depth look at creating applications \n      with XML.']

In [98]:
for i in root.getchildren()[0].getchildren():
    tag=i.tag
    i=str(i)
    i=i.replace("\n","")
    print(i,".......",tag)

Gambardella, Matthew ....... author
XML Developer's Guide ....... title
Computer ....... genre
44.95 ....... price
2000-10-01 ....... publish_date
An in-depth look at creating applications       with XML. ....... description

In [79]:
a=xml.getroot().getchildren()

In [101]:
a[0].attrib#.values()#.tag#.items()

{'id': 'bk101'}

In [102]:
keys=a[0].attrib

In [104]:
keys.keys()
keys.values()

['bk101']

In [112]:
header=[]
text=[]
header.extend(keys.keys())
text.extend(keys.values())
for i in root.getchildren()[0].getchildren():
    header.append(i.tag)
    #header.append("\n")
    i=str(i)
    i=i.replace("\n","")
    print(i,".......",tag)
    text.append(i)
    #text.append("\n")

Gambardella, Matthew ....... description
XML Developer's Guide ....... description
Computer ....... description
44.95 ....... description
2000-10-01 ....... description
An in-depth look at creating applications       with XML. ....... description

In [113]:
header

['id', 'author', 'title', 'genre', 'price', 'publish_date', 'description']

In [114]:
text

['bk101',
 'Gambardella, Matthew',
 "XML Developer's Guide",
 'Computer',
 '44.95',
 '2000-10-01',
 'An in-depth look at creating applications       with XML.']

In [115]:
for child in root:
    print(child.tag,child.attrib)

catalog {}